.materials
    width: 100%
    height: calc(100% - 140px)
    position: relative
    top: 80px
    +mq('xs')
        top: 60px
        height: calc(100% - 120px)
    &__classes
        width: 100%
        margin: 0 auto
        +mq('xs')
            width: 90%
        &-list
            margin: 0
            padding: 10px
            overflow-x: auto
            display: flex
            justify-content: center
            align-items: center
            list-style: none
            +mq('xs')
                padding: 5px
        &-item
            font-size: 20px
            padding: 0 20px
            border-right: 1px solid gray
            +mq('xs')
                padding: 0 10px
            &:last-child
                border: 0
            &_is_active
                    color: $hover-color
            &_grade
                cursor: pointer
                &:hover
                    color: $hover-color

    &__type
        width: 100%
        &-list
            margin: 0
            padding: 15px
            display: flex
            justify-content: space-evenly
            list-style: none
        &-item
            font-size: 18px
            +mq('xs')
                font-size: 14px
                text-align: center
            &_is_active
                color: $hover-color
            &_material
                cursor: pointer
                &:hover
                    color: $hover-color
    &__links
        margin: 0 auto
        width: 85%
        border-radius: 30px
        background-color: rgba(255, 255, 255, 0.8)
        overflow-y: scroll
        box-shadow: 0 0 10px rgba(0,0,0,0.5)
        &::-webkit-scrollbar
            display: none
        &-list
            height: 100%
            overflow-y: scroll
        &-item
            &__link
                word-wrap: break-word
            &__but
                border-radius: 10px
                width: 60px
                height: 30px
                border: none
                background-color: #85B0EB
                color: #ffffff
                &:active,
                &:focus
                    outline: none
        &-name
            +mq('xs')
                border-right: 0.5px solid #85B0EB

.divTable
    display: table
    width: 100%
    overflow-y: scroll
    height: auto
    table-layout: fixed

.divTableRow
    display: table-row
    background-color: #fff
    &:nth-child(odd)
        background-color: #D9D8E6

.divTableHead
    background-color: #85B0EB
    display: table-cell
    height: 40px
    text-align: center
    vertical-align: middle
    color: #fff

.divTableCell
    text-align: center
    display: table-cell
    padding: 5px 10px
    vertical-align: middle
    word-break: break-all
.divTableBody
    display: table-row-group
